body {
  margin: 0;
  text-align: center;
  color: #f1faee;
  text-shadow: 0 0 4px #000;
  font-family: "Sour Gummy", cursive;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.cerritos.gov/media/242anwd5/2cerritos-now.jpg");
  min-height: 400px;
  background-size: cover;
}

.hero-title {
  background-color: #222e50;
  padding: 4px 8px;
  border-radius: 8px;
  margin-bottom: 0;
}

.hero-subtitle {
  background-color: #277b2b;
  padding: 8px 16px;
  border-radius: 8px;
  width: 420px;
}

.activities-container,
.facts-container {
  display: flex;
  flex-direction: column;
  background: #dad46a;
  min-height: 275px;
}

.activity-container {
  display: flex;
  flex-direction: row;
}

.activity-image-container {
  padding: 20px 20px 0 20px;
  flex: 1;
}

.activity-image {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
}

.activity-title {
  margin-bottom: 0;
}

.facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222e50;
}

.facts-list-container {
  padding-right: 40px;
  line-height: 2;
  text-align: left;
  max-width: 1105px;
}

.guide-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 378px;
  background: #dad46a;
}
.guide-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222e50;
  width: 400px;
  min-height: 294px;
  border-radius: 8px;
  box-shadow: 0 8px 0 #277b2b;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.guide-card-container:hover {
  background-color: #277b2b;
  transform: translateY(-2px);
}

.guide-img {
  width: 180px;
  border-radius: 5%;
  margin: 16px 16px 16px 16px;
}

.guide-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
